@import url('../css/elegant-icons.css');
@import url('../css/automov-icon.css');

/* Vehicle Mileage Wrap */
.vehicle-mileage-wrap {
    padding: 44px 0 50px 15px ;
}

/* Preffered Time Wrap */
.preffered-time-wrap .wrap-checked {
    display: inline-block;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 4px;
    position: relative;
    font-size: 14px;
    margin-bottom: 15px;
}

.wrap-checked input[type='checkbox'] {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    opacity: 0;
}

input[type='checkbox']:checked + label {
    background: #d7141a;
    color: #fff;
}

.wrap-checked  label:after {
    content: "\4e";
    font-family: "Eleganticons";
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    left: 10px;
    position: absolute;
    opacity: 0;
    z-index: 999;
    color: #333;
    text-align: center;
}


input[type='checkbox']:checked + label:after {
    opacity: 1;
}

input[type='checkbox']:checked + label:before {
    background: #fff;
}

.wrap-checked label:before {
    content: "";
    width: 30px;
    height: 30px;
    background: #ebebeb;
    border-radius: 4px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    position: absolute;
}

.wrap-checked label {
    color:  #a4a4a4;
    line-height: 50px;
    padding: 0 15px 0 57px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

