#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button{margin:0;padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#cssmenu:after,
#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#cssmenu #menu-button{display:none;}
#cssmenu{background:transparent;}
#cssmenu > ul > li{float:left;}
#cssmenu.align-center > ul{font-size:0;text-align:center;}
#cssmenu.align-center > ul > li{display:inline-block;float:none;}
#cssmenu.align-center ul ul{text-align:left;}
#cssmenu.align-right > ul > li{float:right;}
#cssmenu > ul > li > a{padding:16px 15px;font-size:14px;letter-spacing:1px;text-decoration:none;color:#FFF;font-weight:600;text-transform:uppercase;font-family:'Poppins', sans-serif;}
#cssmenu > ul > li:hover > a{color:#0891FF;background-color:transparent;}
#cssmenu > ul > li.has-sub > a{padding-right:18px;}
#cssmenu > ul > li.has-sub > a:before{position:absolute;right:3px;font-family:FontAwesome;content:"\f107";}
#cssmenu > ul > li.has-sub:hover > a:before{height:0;}
#cssmenu ul ul{position:absolute;left:-9999px;box-shadow:0px 1px 6px 0 rgba(0, 0, 0, 0.4);border-top:2px solid #FF9933;background-color:#0891FF;}
#cssmenu.align-right ul ul{text-align:right;}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;}
#cssmenu li:hover > ul{left:auto;}
#cssmenu.align-right li:hover > ul{left:auto;right:0;}
#cssmenu li:hover > ul > li{height:45px;}
#cssmenu ul ul ul{margin-left:100%;top:0;}
#cssmenu.align-right ul ul ul{margin-left:0;margin-right:100%;}
#cssmenu ul ul li a{font-family:'Poppins', sans-serif;border-bottom:1px solid rgba(150, 150, 150, 0.15);padding:15px 15px;width:225px;font-size:14px;text-decoration:none;color:#FFF;font-weight:400;background:#0891FF;z-index:1;}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a{border-bottom:0;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover{color:#FFF;background-color:#34a2ff;}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:18px;right:13px;width:8px;height:2px;display:block;background:#03A3C7;content:'';}
#cssmenu.align-right ul ul li.has-sub > a:after{right:auto;left:11px;}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:15px;right:16px;display:block;width:2px;height:8px;background:#03A3C7;content:'';}
#cssmenu.align-right ul ul li.has-sub > a:before{right:auto;left:14px;}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0;}
#cssmenu.small-screen{width:100%;}
#cssmenu.small-screen ul{width:100%;display:none;}
#cssmenu.small-screen.align-center > ul{text-align:left;}
#cssmenu.small-screen ul li{width:100%;border-top:1px solid rgba(120, 120, 120, 0.2);}
#cssmenu.small-screen ul ul li,
#cssmenu.small-screen li:hover > ul > li{height:auto;}
#cssmenu.small-screen ul li a,
#cssmenu.small-screen ul ul li a{width:100%;border-bottom:0;}
#cssmenu.small-screen > ul > li{float:none;}
#cssmenu.small-screen ul ul li a{padding-left:25px;}
#cssmenu.small-screen ul ul ul li a{padding-left:35px;}
#cssmenu.small-screen ul ul li a{background:none;}
#cssmenu.small-screen ul ul,
#cssmenu.small-screen ul ul ul,
#cssmenu.small-screen.align-right ul ul{position:relative;left:0;width:100%;margin:0;text-align:left;}
#cssmenu.small-screen > ul > li.has-sub > a:after,
#cssmenu.small-screen > ul > li.has-sub > a:before,
#cssmenu.small-screen ul ul > li.has-sub > a:after,
#cssmenu.small-screen ul ul > li.has-sub > a:before{display:none;}
#cssmenu.small-screen #menu-button{display:block;padding:17px;color:#1F1F1F;cursor:pointer;font-size:12px;text-transform:uppercase;font-weight:700;}
#cssmenu.small-screen #menu-button:after{position:absolute;top:22px;right:17px;display:block;height:4px;width:20px;border-top:2px solid #1F1F1F;border-bottom:2px solid #1F1F1F;content:'';}
#cssmenu.small-screen #menu-button:before{position:absolute;top:16px;right:17px;display:block;height:2px;width:20px;background:#1F1F1F;content:'';}
#cssmenu.small-screen #menu-button.menu-opened:after{top:23px;border:0;height:2px;width:15px;background:#1F1F1F;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
#cssmenu.small-screen #menu-button.menu-opened:before{top:23px;background:#1F1F1F;width:15px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
#cssmenu.small-screen .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid rgba(120, 120, 120, 0.2);height:46px;width:46px;cursor:pointer;}
#cssmenu.small-screen .submenu-button.submenu-opened{background:#262626;}
#cssmenu.small-screen ul ul .submenu-button{height:43px;width:43px;}
#cssmenu.small-screen .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#DDD;content:'';}
#cssmenu.small-screen ul ul .submenu-button:after{top:19px;right:17px;}
#cssmenu.small-screen .submenu-button.submenu-opened:after{background:#FFF;}
#cssmenu.small-screen .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#DDD;content:'';}
#cssmenu.small-screen ul ul .submenu-button:before{top:16px;right:20px;}
#cssmenu.small-screen .submenu-button.submenu-opened:before{display:none;}
#cssmenu.small-screen.select-list{padding:5px;}