html, body {
  min-height:100%;
  height:100%;
  width:100%;
  font-family:Nunito Sans;
}

.cont {
  position:relative;
  height:100%;
}

.cont {
  position:relative;
  height:100vh;
  width:100%;
}

.side-1 {
  position:absolute;
  height:100vh;
  width:100%;
  min-height: 107%;
  background:url('../../assets/img/oblet_login_bg.png') no-repeat;
  background-size:cover;
  left:0;
}

.side-2 {
  position:absolute;
  height:100vh;
  width:100%;
  min-height: 107%;
  background:url('../../assets/img/register_bg.png') no-repeat;
  background-size:cover;
  left:0;
}

.side-1 f-img {
  width:500px;
  height:100%;
}

.side-1-overlay {
  position:absolute;
  width:100%;
  height:100vh;
  min-height: 107%;
  left:0;
  top:0;
  background:linear-gradient(180deg, rgba(153, 15, 15, 0.616) 0%, rgba(51, 8, 8, 0.9) 100%);
}

.info-side {
  position:relative;
  height:100%;
  padding:50px;
  color:white;
}

h1 {
  font-family:Nunito;
}

.main-info button:not(:nth-of-type(1)) {
  margin-left:10px;
}

.ob-btn {
  width:135px;
}

.ob-btn.btn-flat {
  background:transparent;
  border:2px solid white;
}

.main-info {
  position:absolute;
  margin:0 auto;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:70%;
}

main-info h6 {
  margin-bottom:50px;
}

.info-side .bottom {
  position:absolute;
  bottom:0;
  width:100%;
  left:0;
  padding:20px 50px;
  display:flex;
  justify-content:space-between;
}

.login-container {
  background:white;
  width:100%;
  height:100%;
  padding:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.login-container .title {
  font-weight:bold;
}

.login-container * {
  color:#dc9335;
}

.login-container .sub-title {
  margin-top:20px;
  text-align:center;
}

#login-form {
  width:100%;
}

#login-form input.form-control {
  border:none;
  border-bottom:2px solid #6d1313;
  outline:none !important;
  padding-left:0px;
  border-radius:0px;
}

#login-form label {
  font-weight:bold;
  margin:0;
}

#login-form input.form-control:focus {
  outline:none;
  box-shadow:none;
}

#login-form #fgt-pass {
  text-align:right;
}

#login-form button[type=submit] {
  color:white;
}

/* register-form */

.register-form {
  width:100%;
}

.register-form input.form-control {
  border:none;
  border-bottom:2px solid #6d1313;
  outline:none !important;
  padding-left:0px;
  border-radius:0px;
}

.register-form label {
  font-weight:bold;
  margin:0;
}

.register-form input.form-control:focus {
  outline:none;
  box-shadow:none;
}

.register-form #fgt-pass {
  text-align:right;
}

.register-form button[type=submit] {
  color:white;
}


/* end of register-form */



.ob-btn.btn-dark {
  background:#d91d24;
}

.btn-cont {
  margin-top:50px;
  display:flex;
  justify-content:center;
}

.login-container .bottom {
  position:absolute;
  bottom:0;
}

h1.navbrand {
  text-align:center;
  margin-top:50px;
}

.navbrand {
  text-align:center;
  margin-top:67px;
}

.navbrand p {
  font-size:9px;
}

.page-content-wrapper header {
  background:white;
  z-index:10;
  height:70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0px 20px;
}

.dash-cont {
  background:#F9F9F9;
  padding:20px;
  height:calc(100vh - 111px);
  overflow-y:auto;
}

.party-tile {
  padding:20px;
  display:flex;
  align-items:center;
  background:white;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
}

.party-percent {
  display:flex;
  align-items:center;
}

.party-info {
  margin-left:10px;
}

.party-info h5 {
  margin:0px;
  font-weight:bold;
  color:#d91d24;
}

.party-info p {
  margin-bottom:0px;
}

.party-percent h3 {
  font-weight:bold;
  color:#C917E7;
  margin:0;
}

.party-percent h3:nth(2) {
  color:#FE2F2F;
}

.party-percent.party-2 h3 {
  color:#FE2F2F;
}

.h3, h3 {
}

.party-percent.party-3 h3 {
  color:#FF9811;
}

.party-percent.party-4 h3 {
  color:#0F868D;
}

.charts .card-header h5 {
  font-weight:bold;
}

.charts .card-header {
  border-top:8px solid #d91d24;
  background:white;
}

.charts {
  margin-top:20px;
}

.charts .chart-area {
  height:350px;
  width:100%;
  padding:30px;
}

.page-content-wrapper footer {
  height:41px;
}

footer .foot {
  display:flex;
  height:100%;
  justify-content:space-between;
  align-items:center;
  padding:0px 20px;
}

.full-height {
  height:100%;
}

.foot span {
  font-size:10px;
}

.page-info {
  display:flex;
}

.ob-pg-head {
  background:linear-gradient(95.71deg, #d91d24 0%, #09203A 100%);
  color:white;
  padding:35px 20px;
}

.ob-pg-head .page-info h3, .ob-pg-head .page-info p {
  margin:0;
}

.ob-pg-head .page-info .info {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-left:15px;
}

.menu-btn.dropdown-toggle {
  background:transparent;
  border:none;
  outline:none;
  color:#C4C4C4;
  font-size:25px;
  height:initial;
  cursor:pointer;
}

.menu-btn.dropdown-toggle::after {
  content:none;
}

.view-more {
  text-align:right;
}

.charts.charts-2 .chart-area {
  height:220px;
}

.card-header.table-header {
  background:linear-gradient(102.54deg, #d91d24 0%, #09203A 100%);
  height:49px;
}

.b-table .fht-cell{
  padding: 5px 10px;
  border-top: 1px solid #cfcfcf;
}

.b-table .fht-cell .filter-control input,
.b-table .fht-cell .filter-control select  {
  padding: 10px 8px;
  height: 32px;
  font-size: 12px;
}
.b-table .fht-cell .filter-control select  {
  padding: 0;
}

.b-table .fht-cell .filter-control input:focus,
.b-table .fht-cell .filter-control select:focus {
  box-shadow: none !important;
}

.b-table .page-item.active .page-link {
  color: #fff;
  background-color: #d91d24;
  border-color: #d91d24;
}

.b-table .page-link {
  color: #d91d24;
}

.sign-out-link{
  position: absolute;
  bottom: 0;
  margin-left: 20px;
}
.sign-out-link a{
  color: white;
  text-decoration: none;
}

.result-stats{
  display: flex;
  margin-top: 10px;
}

.result-stats .stat-info:not(:nth-of-type(1)) {
  margin-left: 20px;
}

.result-stats .stat {
  padding: 20px;
  background: #d91d24;
  color: white;
  text-align: center;
}
